# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\luisa\OneDrive\Ambiente de Trabalho\Anti-RansomwareAppMaven\Anti-RansomwareAppMaven\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
